@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

body{
    font-family: 'Fredoka One', cursive;
    background-color: #041562;

}



#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: white;
   
}
.subtitulo{
    color: white;
    font-size: 20px;

}

.tarjetas , .tarjetas-ataques{
    display: flex;
    gap: 10px;
}
.tarjeta-de-mokepon{
    width: 200px;
    height: 200px;
    background: #11468f;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.tarjeta-de-mokepon img{
    width: 110px;
    cursor: pointer;
    transition: transform 1s;
    
}

.tarjeta-de-mokepon:hover img{
    transform: scale(1.2);
    transition: transform 0.5s;
}

.tarjeta-de-mokepon p{
    writing-mode: vertical-lr;
    letter-spacing: 4px;
}

.button__mascota{
    margin-top: 20px;
    width: 100px;
    height: 45px;
    background-color: transparent;
    border: 1px solid #11468f;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Fredoka One';
    letter-spacing: 2px;
    cursor: pointer;
}


input{
     display: none; 
}

input:checked + label{
    background-color: #5d8bf4;
    
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    background-color: #11468f;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    border-color: transparent;
    width: 80px;
    color: white;
    font-family: 'Fredoka One';
    letter-spacing: 2px;
    cursor: pointer;
    margin-right: 12px;

}

#mensajes{
    width: 280px;
    background:#11468f;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    letter-spacing: 2px;
}

#resultado{
    text-align: center;
}

#boton-reiniciar{
    border: 1px solid white;
    color: #041562;
    font-weight: bold;
    font-family: 'Fredoka One';
    width: 100px;
    height: 28px;
    border-radius: 20px;
    background-color: transparent;
    font-family: 'Fredoka One';
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
}

.ataques{
    display: grid;
    grid-template-columns: repeat(2,100px);
    
}

.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





@media(max-width:360px){

    .tarjetas , .tarjetas-ataques{
        flex-direction: column;
    }

    
}